---
layout: page
---

<div class="category-list">
  {% assign categories = site.categories %}
  {% for category in categories %}
    <div class="category-item">
      <a href="#{{ category[0] | slugify }}" class="category-link">
        <h2>{{ category[0] }}</h2>
        <p>{{ category[1].size }} posts</p>
      </a>
    </div>
  {% endfor %}
</div>

<div id="category-posts">
  {% for category in categories %}
    <div id="{{ category[0] | slugify }}" class="category-group">
      <h3>{{ category[0] }} ({{ category[1].size }} posts)</h3>
      <div class="category-posts">
        {% assign sorted_posts = category[1] | sort: "date" | reverse %}
        {% for post in sorted_posts limit: 3 %}
          <a href="{{ post.url | relative_url }}" class="category-post-link">
            <div class="post-item">
              <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
              <p class="post-title"><b>{{ post.title }}</b></p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
